section.category
    .container
        h2.category__title Инжиниринг
        .category__grid
            .category__item
                img(src='../../img/category/category-1.png').category__item-image
                .category__item-title Станок для металлообработки с ЧПУ
                .category__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/category-detail.html').category__item-link Подробнее
            .category__item
                img(src='../../img/category/category-2.png').category__item-image
                .category__item-title Станок плазменной резки
                .category__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/category-detail.html').category__item-link Подробнее
            .category__item
                img(src='../../img/category/category-3.png').category__item-image
                .category__item-title Станок для горячей навивки пружин
                .category__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/category-detail.html').category__item-link Подробнее
            .category__item
                img(src='../../img/category/category-1.png').category__item-image
                .category__item-title Станок для металлообработки с ЧПУ
                .category__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/category-detail.html').category__item-link Подробнее
            .category__item
                img(src='../../img/category/category-2.png').category__item-image
                .category__item-title Станок плазменной резки
                .category__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/category-detail.html').category__item-link Подробнее
            .category__item
                img(src='../../img/category/category-3.png').category__item-image
                .category__item-title Станок для горячей навивки пружин
                .category__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/category-detail.html').category__item-link Подробнее
            .category__item
                img(src='../../img/category/category-1.png').category__item-image
                .category__item-title Станок для металлообработки с ЧПУ
                .category__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/category-detail.html').category__item-link Подробнее
            .category__item
                img(src='../../img/category/category-2.png').category__item-image
                .category__item-title Станок плазменной резки
                .category__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/category-detail.html').category__item-link Подробнее
            .category__item
                img(src='../../img/category/category-3.png').category__item-image
                .category__item-title Станок для горячей навивки пружин
                .category__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/category-detail.html').category__item-link Подробнее
        button.category__more.main-button Показать еще
        .category__text
            | Инжиниринг – это область человеческой интеллектуальной деятельности, дисциплина,
            | профессия, задачей которой является применение достижений науки, техники, использование законов природы
            | и ресурсов для решения конкретных проблем, целей и задач человечества.
            | и ресурсов для решения конкретных проблем, целей и задач человечества.
            | и ресурсов для решения конкретных проблем, целей и задач человечества.
            | и ресурсов для решения конкретных проблем, целей и задач человечества.
            | Но данное определение является слишком общим: под него будет подпадать и проведение экономических расчётов,
            | Но данное определение является слишком общим: под него будет подпадать и проведение экономических расчётов,
            | Но данное определение является слишком общим: под него будет подпадать и проведение экономических расчётов,
            | Но данное определение является слишком общим: под него будет подпадать и проведение экономических расчётов,
            | и составление научно обоснованного кулинарного рецепта приготовления борща со сметаной. А ведь цель инженера,
            | и составление научно обоснованного кулинарного рецепта приготовления борща со сметаной. А ведь цель инженера,
            | и составление научно обоснованного кулинарного рецепта приготовления борща со сметаной. А ведь цель инженера,
            | и составление научно обоснованного кулинарного рецепта приготовления борща со сметаной. А ведь цель инженера,
            | и составление научно обоснованного кулинарного рецепта приготовления борща со сметаной. А ведь цель инженера,
        .category__text-more Еще
