@import "vars.styl"

.new-about
  padding-top: 56px
  padding-bottom: 200px
  background-color: $new-main-black;
  border-top-left-radius 80px
  border-top-right-radius 80px
  color white

  @media $media-mobile
    padding-top: 24px
    padding-bottom: 96px
    border-top-left-radius 48px
    border-top-right-radius 48px

  &__title
    font-size: 48px;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
    letter-spacing: -0.96px;

    @media $media-mobile
      text-align center
      font-size: 32px;
      line-height: 32px; /* 100% */
      letter-spacing: -0.64px;

  &__grid
    margin-top: 22px
    display grid
    grid-template-columns clamp(343px, 40%, 412px) 1fr
    grid-column-gap clamp(40px, calc( min((100vw - 1308px), 132px) ), 132px)

    @media $media-mobile
      margin-top: 8px
      grid-template-columns 1fr

  &__left
    padding-top: 10px

    @media $media-mobile
      padding-top: 0;
      display flex
      flex-direction column
      align-items center

  &__text
    font-size: 24px;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.72px

    @media $media-mobile
      font-size: 18px;
      line-height: 20px; /* 111.111% */
      letter-spacing: -0.18px;
      text-align center

  &__button
    margin-top: 40px
    @media $media-mobile
      display none

    &-mobile
      padding: 8px
      display none
      margin-top: 8px
      color: $orange;
      font-size: 18px;
      font-weight: 800;
      line-height: 22px; /* 122.222% */

      @media $media-mobile
        display inline-block

  &__image
    height 100%
    width 100%
    object-fit contain
    object-position top
    border-radius: 24px;
    min-height 458px

    @media $media-mobile
      min-height auto
      height min(360px, 59.7vw)
      border-radius: 12px;

    &-container
      height 100%

      @media $media-mobile
        margin-top: 24px

.new-container
  max-width 1280px
  margin 0 auto

  @media $media-tablet
    padding 0 32px

  @media $media-tablet-vertical
    padding 0 24px

  @media $media-mobile
    padding 0 16px

.new-our-projects
  border-top-right-radius 80px
  border-top-left-radius 80px
  margin-top: -80px
  background-color: #fff
  padding-top: 56px
  padding-bottom: 200px

  @media $media-mobile
    padding-top: 24px
    padding-bottom: 96px
    border-top-left-radius 48px
    border-top-right-radius 48px

  &__title
    font-size: 48px;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
    letter-spacing: -0.96px;

    @media $media-mobile
      text-align center
      font-size: 32px;
      line-height: 32px; /* 100% */
      letter-spacing: -0.64px;

  &__grid
    display grid
    grid-template-columns 1fr 1fr
    grid-gap 24px
    margin-top: 40px

    @media $media-mobile
      grid-gap 12px
      margin-top: 24px

  &__item-container
    overflow hidden
    border-radius 24px
    aspect-ratio 1.554 / 1

    @media $media-mobile
      border-radius 12px

    & img
      transition 300ms
      width 100%
      height 100%
      object-fit cover

    &:hover img
      transform scale(1.05)

  &__button
    margin-top 24px
    position relative
    left 50%
    transform translateX(-50%)

.why-we
  margin-top: -48px
  padding-top: 56px
  padding-bottom: 200px
  background-color: $new-main-black;
  border-top-left-radius 80px
  border-top-right-radius 80px
  color white

  @media $media-mobile
    padding-top: 24px
    padding-bottom: 96px
    border-top-left-radius 48px
    border-top-right-radius 48px

  &__title
    font-size: 48px;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
    letter-spacing: -0.96px;

    @media $media-mobile
      text-align center
      font-size: 32px;
      line-height: 32px; /* 100% */
      letter-spacing: -0.64px;

  &__features
    margin-top: 40px
    display grid
    grid-template-columns 1fr 1fr 1fr
    grid-gap 25px

    @media $media-mobile
      margin-top: 24px
      grid-template-columns 1fr
      grid-gap 16px

  &__feature
    color $new-main-black
    align-self stretch
    display flex
    flex-direction column
    align-items center
    background-color: #fff
    border-radius 24px
    padding 56px 32px
    text-align center

    @media $media-tablet-vertical
      padding 24px 16px

    & img
      width: 80px
      height: 80px
      object-fit contain

      @media $media-tablet-vertical
        width: 60px
        height: 60px

      @media $media-mobile
        width: 40px
        height: 40px

    &-title
      margin-top: 12px
      font-size: 32px;
      font-weight: 500;
      line-height: 36px; /* 112.5% */
      letter-spacing: -0.32px;

      @media $media-tablet-vertical
        margin-top: 8px
        font-size: 24px;
        line-height: 24px; /* 100% */
        letter-spacing: -0.48px;

    &-text
      margin-top: 4px
      font-size: 22px;
      font-weight: 400;
      line-height: 28px; /* 127.273% */
      letter-spacing: -0.22px;

      @media $media-tablet-vertical
        font-size: 18px;
        line-height: 20px; /* 111.111% */
        letter-spacing: -0.18px;

  &__button
    margin-top: 32px
    position relative
    left 50%
    transform translateX(-50%)

    @media $media-mobile
      margin-top: 24px

  &__partners
    margin-top: 80px

    & img
      aspect-ratio 230 / 111
      object-fit contain
      object-position center
      border-radius 24px
      width: 100%

      @media $media-tablet-vertical
        aspect-ratio 166 / 88
        border-radius 12px

    @media $media-mobile
      margin-top: 48px

.new-contact-us
  border-top-right-radius 80px
  border-top-left-radius 80px
  margin-top: -80px
  background-color: #fff
  padding-top: 56px
  padding-bottom: 120px

  @media $media-mobile
    padding-top: 24px
    padding-bottom: 48px
    border-top-left-radius 48px
    border-top-right-radius 48px

  &__left
    @media $media-mobile
      display flex
      flex-direction column
      align-items center

  &__title
    font-size: 78px;
    font-weight: 600;
    line-height: 68px;

    @media $media-mobile
      font-size: 32px;
      line-height: 32px; /* 100% */
      letter-spacing: -0.64px;
      text-align center

  &__text
    margin-top: 26px
    color: #878787;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
    letter-spacing: -0.36px;

    @media $media-mobile
      margin-top: 4px
      text-align: center;
      font-size: 12px;
      line-height: 16px; /* 133.333% */

  &__grid
    display grid
    grid-template-columns clamp(343px, 40%, 491px) 1fr
    grid-column-gap clamp(40px, calc( min((100vw - 1232px), 208px) ), 208px)

    @media $media-mobile
      display block
      width clamp(343px, 40%, 491px)
      margin 0 auto

  &__form
    margin-top: 48px

    @media $media-mobile
      margin-top: 16px

    &-submit
      margin-top: 24px

      @media $media-mobile
        margin-top: 16px
        position relative
        left 50%
        transform translateX(-50%)

    &-second-input
      margin-top: 16px

  &__image
    width 100%

    @media $media-mobile
      display none

    & img
      width 100%
      aspect-ratio 581 / 559
      object-fit contain
      object-position top
