html(lang='ru')
    include ../includes/head
    body
        include ../includes/header
        include ../includes/sidebar
        include ../includes/about-page/about
        include ../includes/about-page/achievs
        include ../includes/about-page/advantages
        include ../includes/partners
        include ../includes/footer
