html(lang='ru')
    include ../includes/head
    body
        include ../includes/header
        include ../includes/sidebar
        include ../includes/main-page/main-slider
        include ../includes/main-page/info-section
        include ../includes/main-page/category-section
        include ../includes/main-page/feedback-section
        include ../includes/main-page/projects-section
        include ../includes/partners
        include ../includes/main-page/text-section
        include ../includes/footer

