html(lang='ru')
    include ../includes/head
    body
        include ../includes/header
        include ../includes/sidebar
        include ../includes/projects/projects
        include ../includes/footer
