section.projects
    .container
        h2.projects__title Наши работы
        .projects__grid
            .projects__item
                .projects-slider-container
                    .swiper.projects-slider
                        .swiper-wrapper
                            .swiper-slide.projects-slider__slide
                                img(src='../../img/slide-3.png').projects-slider__image
                            .swiper-slide.projects-slider__slide
                                img(src='../../img/slide-2.jpeg').projects-slider__image
                            .swiper-slide.projects-slider__slide
                                img(src='../../img/slide-1.png').projects-slider__image
                    .projects-slider-arrows
                        .projects-slider-arrow.projects-slider-arrow_prev
                            include ../icons/slider-arrow
                        .projects-slider-arrow.projects-slider-arrow_next
                            include ../icons/slider-arrow
                .projects__item-content
                    div
                        p.projects__item-title Установка станка для горячей навивки пружин
                        p.projects__item-text Сегодня «ATAU» – лидер в проектировние и изготовление высокотехнологичного оборудования,
                            | инженерных решений и систем безопасности. Мы всегда стремимся обеспечить комплексное решение нужд
                            | клиентов и для этого постоянно расширяем ассортимент производимой продукции и расширяем филиальную сеть, не забывая
                            | при этом о качестве производимой продукции, о чем свидетельствуют сертификаты
                            | и декларации о соответствии.
                    p.projects__item-date Декабрь 2019 год
            .projects__item
                .projects-slider-container
                    .swiper.projects-slider
                        .swiper-wrapper
                            .swiper-slide.projects-slider__slide
                                img(src='../../img/slide-3.png').projects-slider__image
                            .swiper-slide.projects-slider__slide
                                img(src='../../img/slide-2.jpeg').projects-slider__image
                    .projects-slider-arrows
                        .projects-slider-arrow.projects-slider-arrow_prev
                            include ../icons/slider-arrow
                        .projects-slider-arrow.projects-slider-arrow_next
                            include ../icons/slider-arrow
                .projects__item-content
                    div
                        p.projects__item-title Установка станка для горячей навивки пружин
                        p.projects__item-text Сегодня «ATAU» – лидер в проектировние и изготовление высокотехнологичного оборудования,
                            | инженерных решений и систем безопасности. Мы всегда стремимся обеспечить комплексное решение нужд
                            | клиентов и для этого постоянно расширяем ассортимент производимой продукции и расширяем филиальную сеть, не забывая
                            | при этом о качестве производимой продукции, о чем свидетельствуют сертификаты
                            | и декларации о соответствии.
                    p.projects__item-date Декабрь 2019 год
            .projects__item
                .projects-slider-container
                    .swiper.projects-slider
                        .swiper-wrapper
                            .swiper-slide.projects-slider__slide
                                img(src='../../img/slide-3.png').projects-slider__image
                    .projects-slider-arrows
                        .projects-slider-arrow.projects-slider-arrow_prev
                            include ../icons/slider-arrow
                        .projects-slider-arrow.projects-slider-arrow_next
                            include ../icons/slider-arrow
                .projects__item-content
                    div
                        p.projects__item-title Установка станка для горячей навивки пружин
                        p.projects__item-text Сегодня «ATAU» – лидер в проектировние и изготовление высокотехнологичного оборудования,
                            | инженерных решений и систем безопасности. Мы всегда стремимся обеспечить комплексное решение нужд
                            | клиентов и для этого постоянно расширяем ассортимент производимой продукции и расширяем филиальную сеть, не забывая
                            | при этом о качестве производимой продукции, о чем свидетельствуют сертификаты
                            | и декларации о соответствии.
                    p.projects__item-date Декабрь 2019 год
        button.projects__more.main-button Показать еще

