section.blog
    .container
        h2.blog__title Новости
        .blog__top
            .blog__main
                .blog__item
                    img(src='../../img/category/category-1.png').blog__item-image
                    .blog__item-title Станок для металлообработки с ЧПУ
                    .blog__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУто оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                    a(href='/blog-detail.html').blog__item-link
                        span Читать полностью
                        span Подробнее
            .blog__secondary
                .blog__item
                    img(src='../../img/category/category-1.png').blog__item-image
                    .blog__item-title Станок для металлообработки с ЧПУ
                    .blog__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                    a(href='/blog-detail.html').blog__item-link
                        span Читать полностью
                        span Подробнее
                .blog__item
                    img(src='../../img/category/category-1.png').blog__item-image
                    .blog__item-title Станок для металлообработки с ЧПУ
                    .blog__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                    a(href='/blog-detail.html').blog__item-link
                        span Читать полностью
                        span Подробнее
        .blog__grid
            .blog__item
                img(src='../../img/category/category-1.png').blog__item-image
                .blog__item-title Станок для металлообработки с ЧПУ
                .blog__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/blog-detail.html').blog__item-link
                    span Читать полностью
                    span Подробнее
            .blog__item
                img(src='../../img/category/category-2.png').blog__item-image
                .blog__item-title Станок плазменной резки
                .blog__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/blog-detail.html').blog__item-link
                    span Читать полностью
                    span Подробнее
            .blog__item
                img(src='../../img/category/category-3.png').blog__item-image
                .blog__item-title Станок для горячей навивки пружин
                .blog__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/blog-detail.html').blog__item-link
                    span Читать полностью
                    span Подробнее
            .blog__item
                img(src='../../img/category/category-1.png').blog__item-image
                .blog__item-title Станок для металлообработки с ЧПУ
                .blog__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/blog-detail.html').blog__item-link
                    span Читать полностью
                    span Подробнее
            .blog__item
                img(src='../../img/category/category-2.png').blog__item-image
                .blog__item-title Станок плазменной резки
                .blog__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/blog-detail.html').blog__item-link
                    span Читать полностью
                    span Подробнее
            .blog__item
                img(src='../../img/category/category-3.png').blog__item-image
                .blog__item-title Станок для горячей навивки пружин
                .blog__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/blog-detail.html').blog__item-link
                    span Читать полностью
                    span Подробнее
            .blog__item
                img(src='../../img/category/category-1.png').blog__item-image
                .blog__item-title Станок для металлообработки с ЧПУ
                .blog__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/blog-detail.html').blog__item-link
                    span Читать полностью
                    span Подробнее
            .blog__item
                img(src='../../img/category/category-2.png').blog__item-image
                .blog__item-title Станок плазменной резки
                .blog__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/blog-detail.html').blog__item-link
                    span Читать полностью
                    span Подробнее
            .blog__item
                img(src='../../img/category/category-3.png').blog__item-image
                .blog__item-title Станок для горячей навивки пружин
                .blog__item-text Фрезерные вертикальные ОЦ серии MB-V - это оборудование нового поколения с широким Станок для металлообработки с ЧПУ
                a(href='/blog-detail.html').blog__item-link
                    span Читать полностью
                    span Подробнее
        button.blog__more.main-button Показать еще
