.blog-detail
    .container
        a(href='/blog.html').blog-detail__back
            include ../icons/link-arrow
            | Новости
        h2.blog-detail__title «Новые технологии - новые&nbsp;возможности»
        img(src='../../img/news.png').blog-detail__image
        .blog-detail__gallery-mobile
            img(src='../../img/news.png')
            img(src='../../img/news.png')
        button.blog__item-link.blog-detail__gallery-mobile-button.js-open-modal-slider Посмотреть все фото
        include ../slider-modal
        .blog-detail__grid
            .blog-detail__left
                .blog-detail__text
                    | Вообще технология виртуальной реальности (VR) начала создаваться в 60-х годах XX века, а первые VR-очки возникли к 1979 году. Во второй половине 2010-х шлемы и очки виртуальной реальности стали уже беспроводными.
                    | Сегодня подобные технологии применяются во многих сферах. О трёх из них - ниже.
                    | Медицина. Сейчас уже стало возможно создать виртуальную модель тела пациента
                    | и на основе этой модели спланировать операцию и продемонстрировать это всё
                    | при необходимости родственникам пациента. Существует специальная программа, которая преобразовывает в такую модель результаты компьютерной и магнитно-резонансной томографии. Помогает подобная программа и при обучении будущих врачей-хирургов.
                    | Помимо этого, технологии виртуальной реальности позволяют быстрее восстанавливаться пациентам после инсульта, избавиться от фобий, частично заменяют анестезию. К примеру, существует игра SnowWorld, которая отвлекает людей с ожогами от медицинских процедур.
                    | Архитектура и дизайн. Сейчас есть решения, позволяющие посмотреть, как будет выглядеть будущее здание, его интерьер. Можно даже демонстрировать проекты, причём в ходе их презентации будет возможность сразу же заменить отдельные элементы декора, особенности помещения и пр. Существующие сегодня программы помогают построить виртуальность на базе BIM-технологий (Building Information Model). Такая система соединяет все элементы трёхмерной модели какого-либо пространства или здания.
                    | Промышленная безопасность. На горнодобывающих, металлургических предприятиях, в шахтах время от времени происходят аварии. Конечно, это случается не так часто, однако персоналу важно быть готовым к ним. В то же время проводить учения на подобных предприятия может быть опасно либо крайне дорого. Поэтому компании обращаются к технологиям виртуальной реальности. Они помогут смоделировать аварию и таким образом обучить людей действовать в подобной ситуации.
                    | По мнению экспертов, к 2026 году рынок VR-технологий будет составлять свыше 56 миллиардов долларов. Число же купленных гарнитур виртуальной реальности увеличится до более 50 миллионов.
                .blog-detail__footer
                    .blog-detail__date
                        span Дата написания статьи:
                        span 22.08.2022 год
                    .blog-detail__author.blog-detail__author_mobile
                        span Автор статьи:
                        span Меньшикова Алена
                        span PR-директор компании ATAU
            .blog-detail__right
                .blog-detail__author
                    span Автор статьи:
                    span Меньшикова Алена
                    span PR-директор компании ATAU
                .blog-detail__gallery
                    img(src='../../img/news.png')
                    img(src='../../img/news.png')
