@import "../vars.styl"
@import "category-detail.styl"

.category
  margin-top 40px

  &__grid
    margin-top 40px
    display grid
    grid-template-columns 1fr 1fr 1fr
    grid-column-gap 20px
    grid-row-gap 40px

    @media $media-tablet-vertical
      grid-template-columns 1fr 1fr
      grid-row-gap 24px

    @media $media-mobile
      margin-top 32px


  &__item

    &-image
      width 100%
      height calc((100vw - 160px) / 3 * 0.72)
      max-height 310px
      object-position center
      object-fit cover
      border-radius 16px

      @media $media-tablet-vertical
        height calc((100vw - 68px) / 2 * 0.72)

    &-title
      margin-top 16px
      font-size 26px
      line-height 30px
      font-weight 700
      min-height 60px

      @media $media-tablet
        font-size 24px
        line-height 28px
        min-height 56px


      @media $media-mobile
        margin-top 8px
        font-size 17px
        line-height 20px
        font-weight 600
        min-height 40px

      @media $media-mobile-md
        min-height 60px

    &-text
      margin-top 8px
      font-size 18px
      line-height 24px
      font-weight 500
      display -webkit-box
      -webkit-box-orient vertical
      -webkit-line-clamp 2
      overflow hidden

      @media $media-mobile
        margin-top 2px
        font-size 12px
        line-height 16px

    &-link
      display inline-block
      margin-top 8px
      font-size 18px
      line-height 24px
      font-weight 800
      text-decoration underline
      color $link
      cursor pointer

      @media $media-mobile
        margin-top 4px
        font-size 16px
        line-height 22px

  &__more
    margin-top 40px
    position relative
    left 50%
    transform translateX(-50%)

    @media $media-mobile
      margin-top 32px

  &__text
    margin-top 40px
    font-size 18px
    line-height 24px
    font-weight 500
    max-height 96px
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp 4
    overflow hidden


    @media $media-mobile
      margin-top 24px
      font-size 16px
      line-height 20px
      font-weight 400
      max-height 80px

    &_full
      max-height none
      display block

    &-more
      cursor pointer
      margin-bottom 120px
      margin-top 8px
      display inline-block
      color $link
      font-size 18px
      line-height 24px
      font-weight 800

      @media $media-tablet
        margin-bottom 100px

      @media $media-tablet-vertical
        margin-bottom 80px

      @media $media-mobile
        margin-bottom 64px
        font-size 16px
        line-height 22px

