section.about
    .about__features
        .about__feature Компания осуществляет деятельность по РФ
        .about__feature Начали свою деятельность в 1995 году
    .container
        h2.about__title О компании
        p.about__text
            | Сегодня «ATAU» – лидер в проектировние и изготовление высокотехнологичного оборудования,
            | инженерных решений и систем безопасности. Мы всегда стремимся обеспечить комплексное решение
            | нужд клиентов и для этого постоянно расширяем ассортимент производимой продукции и расширяем филиальную сеть, не забывая
            | при этом о качестве производимой продукции, о чем свидетельствуют сертификаты и декларации о соответствии.
        .about__more
            span Показать еще
        .about__features.about__features_mobile
            .about__feature Компания осуществляет деятельность по РФ
            .about__feature Начали свою деятельность в 1995 году
        .about__emloyers
            h2.about__emloyers-title Представители нашей компании
            .employers-slider-container
                .swiper.employers-slider
                    .swiper-wrapper
                        .swiper-slide.employers-slider__slide
                            img(src='../../img/about/employee.png').employers-slider__image
                            p.employers-slider__title Васильев Василий
                            span.employers-slider__subtitle Генеральный директор
                        .swiper-slide.employers-slider__slide
                            img(src='../../img/about/employee.png').employers-slider__image
                            p.employers-slider__title Перминов Александр
                            span.employers-slider__subtitle Заместитель директора
                        .swiper-slide.employers-slider__slide
                            img(src='../../img/about/employee.png').employers-slider__image
                            p.employers-slider__title Годунова Анна
                            span.employers-slider__subtitle Старший маркетолог
                        .swiper-slide.employers-slider__slide
                            img(src='../../img/about/employee.png').employers-slider__image
                            p.employers-slider__title Ким Чен Ын
                            span.employers-slider__subtitle Аналитик
                        .swiper-slide.employers-slider__slide
                            img(src='../../img/about/employee.png').employers-slider__image
                            p.employers-slider__title Джордж Морж
                            span.employers-slider__subtitle Техничка
                        .swiper-slide.employers-slider__slide
                            img(src='../../img/about/employee.png').employers-slider__image
                            p.employers-slider__title Джордж Морж
                            span.employers-slider__subtitle Техничка
            .employers-slider-arrows
                .employers-slider-arrow.employers-slider-arrow_prev
                    include ../icons/slider-arrow
                .employers-slider-arrow.employers-slider-arrow_next
                    include ../icons/slider-arrow
