.achievs
    h2.achievs__title Достижения
    .achievs__grid
        .achievs__item.js-achievs-item
            .achievs__item-year 1999г
            .achievs__item-text Благодарность Президента Российской Федерации за высокие показатели в производственной деятельности и еще че то там.
        .achievs__item.js-achievs-item
            .achievs__item-year 2003г
            .achievs__item-text Благодарность Президента Российской Федерации за высокие показатели в производственной деятельности.
        .achievs__item.achievs__item_active.js-achievs-item
            .achievs__item-year 2008г
            .achievs__item-text Благодарность Президента Российской Федерации за рекорд мира по созданию и дизайну сайтов в производственной деятельности.
        .achievs__item.js-achievs-item
            .achievs__item-year 2016г
            .achievs__item-text Благодарность Президента Российской Федерации за высокие показатели в производственной деятельности.
        .achievs__item.js-achievs-item
            .achievs__item-year 2021г
            .achievs__item-text Благодарность Президента Российской Федерации за высокие показатели в производственной деятельности.
    .achievs__mobile-text
