section.advantages
    .container
        h2.advantages__title Наши преимущества
        .advantages__grid
            .advantages__item
                img(src='../../img/about/about-feature-1.png').advantages__item-image
                .advantages__item-title Даем гарантии
                .advantages__item-text И несем 100% ответсвенность за результат
            .advantages__item
                img(src='../../img/about/about-feature-2.png').advantages__item-image
                .advantages__item-title Обширный опыт
                .advantages__item-text В реализации сложных проектов национального масштаба
            .advantages__item
                img(src='../../img/about/about-feature-3.png').advantages__item-image
                .advantages__item-title Качество знаний
                .advantages__item-text В команде работают только лучшие специалисты
            .advantages__item
                img(src='../../img/about/about-feature-4.png').advantages__item-image
                .advantages__item-title Гибкий подход
                .advantages__item-text Учитываем индивидуальные требования клиентов
