section.category-section
    .category-section__image
    .container
        .category-section__header
            h2.category-section__title Категории оборудования
            p.category-section__subtitle Всё наше оборудование делится на подкатегории вида вашего производства.
        .category-section__grid
            a(href='/category-page.html').category-section__item
                img(src='../../img/category-1.png').category-section__item-img
                p.category-section__item-title Инжиниринг
            a(href='/category-page.html').category-section__item
                img(src='../../img/category-2.png').category-section__item-img
                p.category-section__item-title Хим. системы
            a(href='/category-page.html').category-section__item
                img(src='../../img/category-3.png').category-section__item-img
                p.category-section__item-title БИО лаборатория
