section.info-section
    .container
        .info-section__top
            h2.info-section__title ATAU-это
            p.info-section__subtitle
                | Сегодня «ATAU» – лидер в проектировнии и изготовлении высокотехнологичного оборудования, инженерных решений и систем безопасности.
        .info-section__bottom
            .info-section__features
                .info-section__feature
                    .info-section__feature-img
                    h3.info-section__feature-title Даем гарантии
                    p.info-section__feature-text И несем 100% ответственность за результат
                .info-section__feature
                    .info-section__feature-img
                    h3.info-section__feature-title Обширный опыт
                    p.info-section__feature-text В реализации сложных проектов национального масштаба
                .info-section__feature
                    .info-section__feature-img
                    h3.info-section__feature-title Гибкий подход
                    p.info-section__feature-text Учитываем индивидуальные требования клиентов
            a(href='/about.html').info-section__more.main-button Узнать больше

