section.slider-section
    .container
        .slider-container
            .slider
                .swiper.main-slider
                    .swiper-wrapper
                        .swiper-slide.slider__slide
                            img(src='../../img/slide-1.png').slider__image
                        .swiper-slide.slider__slide
                            img(src='../../img/slide-2.jpeg').slider__image
                        .swiper-slide.slider__slide
                            img(src='../../img/slide-1.png').slider__image
            .swiper-pagination.main-slider-pagination
            button.swiper-button-prev.slider-arrow.slider-arrow_prev.blue-text-hover
                include ../icons/slider-arrow
            button.swiper-button-next.slider-arrow.slider-arrow_next.blue-text-hover
                include ../icons/slider-arrow
