section.projects-section
    .container
        .projects-section__header
            h2.projects-section__title Наши работы
            p.projects-section__subtitle Мы представляем свои лучшие разработки и проекты, которые мы вели по всему миру
        .projects-section__grid
            img(src='../../img/project-1.png').projects-section__item
            img(src='../../img/project-2.png').projects-section__item
            img(src='../../img/project-3.png').projects-section__item
        a(href='/projects.html').projects-section__more.main-button Показать больше
