svg(width="56" height="40" viewBox="0 0 56 40" fill="none" xmlns="http://www.w3.org/2000/svg")
    g(id="Arrow 2")
        path(id="Arrow 2_2" d="M12 18.5C11.1716 18.5 10.5 19.1716 10.5 20C10.5 20.8284 11.1716 21.5 12 21.5V18.5ZM45.0607 21.0607C45.6464 20.4749 45.6464 19.5251 45.0607 18.9393L35.5147 9.3934C34.9289 8.80761 33.9792 8.80761 33.3934 9.3934C32.8076 9.97919 32.8076 10.9289 33.3934 11.5147L41.8787 20L33.3934 28.4853C32.8076 29.0711 32.8076 30.0208 33.3934 30.6066C33.9792 31.1924 34.9289 31.1924 35.5147 30.6066L45.0607 21.0607ZM12 21.5H44V18.5H12V21.5Z" fill="currentColor")