section.banner-section
    .new-container
        .banner
            .banner__container.js-banner-container
                .js-banner-slide.banner__slide.banner__slide_active(data-index='0')
                    .banner__slide-left
                        h3.banner__slide-title Фасовочная линия
                        p.banner__slide-description
                            | Предназначена для автоматического розлива жидкости в тару объемом
                            | 1 литр с автоматическим закупориванием
                        button.banner__slide-button.orange-button Подробнее
                        .banner__slide-features
                            div
                                span
                                span Сенсорная панель управления
                            div
                                span
                                span Точность дозирования ±1,5%
                    .banner__slide-right
                        img(src='../../img/banner.png').banner__image
                .js-banner-slide.banner__slide.banner__slide-inverted(data-index='1')
                    .banner__slide-right
                        img(src='../../img/banner.png').banner__image
                    .banner__slide-left
                        h3.banner__slide-title Фасовочная линия
                        p.banner__slide-description
                            | Предназначена для автоматического розлива жидкости в тару объемом
                            | 1 литр с автоматическим закупориванием
                            | Предназначена для автоматического розлива жидкости в тару объемом
                            | 1 литр с автоматическим закупориванием
                            | Предназначена для автоматического розлива жидкости в тару объемом
                        button.banner__slide-button.orange-button Подробнее
                        .banner__slide-features
                            div
                                span
                                span Сенсорная панель управления
                            div
                                span
                                span Точность дозирования ±1,5%
                .js-banner-slide.banner__slide(data-index='2')
                    .banner__slide-left
                        h3.banner__slide-title Фасовочная линия
                        p.banner__slide-description
                            | Предназначена для автоматического розлива жидкости в тару объемом
                            | 1 литр с автоматическим закупориванием
                        button.banner__slide-button.orange-button Подробнее
                        .banner__slide-features
                            div
                                span
                                span Сенсорная панель управления
                            div
                                span
                                span Точность дозирования ±1,5%
                    .banner__slide-right
                        img(src='../../img/banner.png').banner__image
                .js-banner-slide.banner__slide(data-index='3')
                    .banner__slide-left
                        h3.banner__slide-title Фасовочная линия
                        p.banner__slide-description
                            | Предназначена для автоматического розлива жидкости в тару объемом
                            | 1 литр с автоматическим закупориванием
                        button.banner__slide-button.orange-button Подробнее
                        .banner__slide-features
                            div
                                span
                                span Сенсорная панель управления
                            div
                                span
                                span Точность дозирования ±1,5%
                    .banner__slide-right
                        img(src='../../img/banner.png').banner__image
            .banner__navigation
                .banner__prev.js-banner-prev
                    include ../includes/arrow-prev
                .banner__next.js-banner-next
                    include ../includes/arrow-next
        .banner-mobile
            .swiper.js-banner-mobile
                .swiper-wrapper
                    .swiper-slide
                        .banner-mobile__slide
                            img(src='../../img/banner.png').banner__image
                            h3.banner__slide-title Фасовочная линия
                            p.banner__slide-description
                                | Предназначена для автоматического розлива жидкости в тару объемом
                                | 1 литр с автоматическим закупориванием
                                | Предназначена для автоматического розлива жидкости в тару объемом
                                | 1 литр с автоматическим закупориванием
                            .banner__slide-features
                                div
                                    span
                                    span Сенсорная панель управления
                                div
                                    span
                                    span Точность дозирования ±1,5%
                            button.banner__slide-button.orange-button Подробнее
                    .swiper-slide
                        .banner-mobile__slide
                            img(src='../../img/banner.png').banner__image
                            h3.banner__slide-title Фасовочная линия
                            p.banner__slide-description
                                | Предназначена для автоматического розлива жидкости в тару объемом
                                | 1 литр с автоматическим закупориванием
                            .banner__slide-features
                                div
                                    span
                                    span Сенсорная панель управления
                                div
                                    span
                                    span Точность дозирования ±1,5%
                            button.banner__slide-button.orange-button Подробнее
                    .swiper-slide
                        .banner-mobile__slide
                            img(src='../../img/banner.png').banner__image
                            h3.banner__slide-title Фасовочная линия
                            p.banner__slide-description
                                | Предназначена для автоматического розлива жидкости в тару объемом
                                | 1 литр с автоматическим закупориванием
                            .banner__slide-features
                                div
                                    span
                                    span Сенсорная панель управления
                                div
                                    span
                                    span Точность дозирования ±1,5%
                            button.banner__slide-button.orange-button Подробнее
                .banner-mobile__pagination.js-banner-mobile-pagination

