footer.footer
    .container
        .footer__top
            .footer__menu
                .footer__menu-column
                    a(href='/category-page.html').footer__menu-item.footer__menu-item_logo.footer__menu-item_logo-yellow Инжиниринг
                    a(href='/category-page.html').footer__menu-item.footer__menu-item_logo.footer__menu-item_logo-green Хим. системы
                    a(href='/category-page.html').footer__menu-item.footer__menu-item_logo.footer__menu-item_logo-blue БИО лаборатория
                .footer__menu-column
                    a(href='/about.html').footer__menu-item О компании
                    a(href='/projects.html').footer__menu-item Наши работы
                    a(href='/blog.html').footer__menu-item Новости
                    a(href='/contacts.html').footer__menu-item Контакты
            .footer__contacts
                .footer__socials
                    a(href='https://telegram.com' target='_blank')
                        include ../includes/icons/telegram
                    a(href='https://vk.com' target='_blank')
                        include ../includes/icons/vk
                a(href='tel: 73412777700').footer__phone
                    include ../includes/icons/phone
                    span +7 (3412) 77-77-00
                .footer__address
                    include ../includes/icons/map-pin
                    span г. Ижевск, Воткинское шоссе, 208
                button.footer__contact-button.main-button.main-button_white.js-call-form-button Заказать звонок
        .footer__bottom
            .footer__bottom-inner
                a(href='/').footer__policy «ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ ПЕРСОНАЛЬНЫХ ДАННЫХ»
                .footer__owner © «ATAU» 2022г.
