header.header
    .container
        .header__top
            .header__burger
                span.header__burger-line
            .header__left
                a(href='/').header__logo
                button.header__modal-button.js-question-form-button.blue-text-hover Задать вопрос?
            .header__right
                a(href='tel: 73412777700').header__phone.blue-text-hover
                    include ../includes/icons/phone
                    span +7 (3412) 77-77-00
                .header__socials
                    a(href='/' target='_blank').blue-text-hover
                        include ../includes/icons/telegram
                    a(href='/' target='_blank').blue-text-hover
                        include ../includes/icons/vk
        .header__bottom
            .header__menu
                a(href='/about.html').header__menu-item.blue-text-hover.active-link О компании
                a(href='/category-page.html').header__menu-item.blue-text-hover.header__menu-item_logo.header__menu-item_logo-yellow
                    | Инжиниринг
                a(href='/category-page.html').header__menu-item.blue-text-hover.header__menu-item_logo.header__menu-item_logo-green
                    | Хим. системы
                a(href='/category-page.html').header__menu-item.blue-text-hover.header__menu-item_logo.header__menu-item_logo-blue
                    | БИО лаборатория
                a(href='/projects.html').header__menu-item.blue-text-hover Наши работы
                a(href='/blog.html').header__menu-item.blue-text-hover Новости
                a(href='/contacts.html').header__menu-item.blue-text-hover Контакты

include question-modal
include call-modal
include order-modal
include success-modal
