.new-header
    .new-container
        .new-header__top
            .tablet-vertical-only.new-header__burger
                span.header__burger-line
            .new-header__link.tablet-vertical-hidden
                img(src="../../img/new-main/new-map-pin-white.svg")
                span г. Ижевск, Воткинское шоссе, 292
            a(href='/')
                img(src='../../img/logo.svg').new-header__logo

            .new-header__socials.tablet-vertical-hidden
                a(href="tel: +79199080000").new-header__link.new-header__phone
                    img(src="../../img/new-main/new-phone-white.svg")
                    span +7 (919) 908–00–00

                a(href="/" target="_blank" rel="noreferrer noopener")
                    img(src="../../img/new-main/new-tg-white.svg")

                a(href="/" target="_blank" rel="noreferrer noopener")
                    img(src="../../img/new-main/new-vk-white.svg")

                a(href="/" target="_blank" rel="noreferrer noopener")
                    img(src="../../img/new-main/rutube-white.svg")

    .new-header__bottom.tablet-vertical-hidden
        .new-container
            .new-header__menu
                a(href="/") Инжиниринг
                a(href="/") Наши работы
                a(href="/") О компании
                a(href="/") Новости
                a(href="/") Контакты
            button.new-header__feedback.js-set-state-feedback Обратная связь
