include new-success-modal
include new-feedback-modal
footer.new-footer
    .new-container
        .new-footer__top
            .new-footer__menu
                a(href='/') Главная
                a(href='/') Инжиниринг
                a(href='/') Наши работы
                a(href='/') О компании
                a(href='/') Новости
                a(href='/') Контакты
            .new-footer__form-container
                h3 Остались вопросы?
                p Закажите звонок и мы все расскажем
                .new-footer__form
                    input(type='text' placeholder='Телефон').new-footer__form-input
                    button(type='button').new-footer__form-submit.orange-button.js-set-state-call Заказать звонок
            .new-footer__menu-mobile
                div
                    a(href='/') Главная
                    a(href='/') Инжиниринг
                    a(href='/') Наши работы
                div
                    a(href='/') О компании
                    a(href='/') Новости
                    a(href='/') Контакты
        .new-footer__bottom
            .new-footer__bottom-left
                .new-footer__link
                    img(src='../../img/new-main/new-map-pin.svg')
                    span г. Ижевск, Воткинское шоссе, 292
                a(href='tel: +79199080000').new-footer__link
                    img(src='../../img/new-main/new-phone.svg')
                    span +7 (919) 908–00–00

            .new-footer__features
                a(href='/' target='_blank' rel='noreferrer noopener')
                    img(src='../../img/new-main/new-vk.svg')
                a(href='/' target='_blank' rel='noreferrer noopener')
                    img(src='../../img/new-main/new-tg.svg')
                a(href='/' target='_blank' rel='noreferrer noopener')
                    img(src='../../img/new-main/rutube.svg')