.new-modal-overlay.js-success-modal-overlay
.new-modal.js-success-modal
    .new-modal__cross.js-success-close
    h4.new-modal__title.js-success-title
    p.new-modal__text.js-success-text
    p.new-modal__text-gray
        | С вами не связались?
        br
        | Позвоните по номеру:
    a(href='tel: +79993441100').new-modal__phone +7 (999) 344–11–00
    button.new-modal__back.js-success-close Назад