.partners
    .container
        h2.partners__title Мы сотрудничаем с такими организациями, как
        .partners__grid
            img(src='../../img/partner-1.png').partners__item
            img(src='../../img/partner-2.png').partners__item
            img(src='../../img/partner-3.png').partners__item
            img(src='../../img/partner-4.png').partners__item
            img(src='../../img/partner-4.png').partners__item
            img(src='../../img/partner-4.png').partners__item
