.slider-modal-overlay
    .slider-modal
        .slider-modal__cross.js-slider-modal-close
        .slider-modal-container
            .swiper.modal-slider
                .swiper-wrapper
                    .swiper-slide.slider-modal__slide
                        img(src='../../img/slide-3.png').slider-modal__image
                    .swiper-slide.slider-modal__slide
                        img(src='../../img/slide-2.jpeg').slider-modal__image
                    .swiper-slide.slider-modal__slide
                        img(src='../../img/slide-1.png').slider-modal__image
        .slider-modal-arrows
            .slider-modal-arrow.slider-modal-arrow_prev
                include icons/slider-arrow
            .slider-modal-arrow.slider-modal-arrow_next
                include icons/slider-arrow





