.success-modal-overlay
    .success-modal
        .success-modal__cross.js-success-modal-close
        .success-modal__header
            .success-modal__title Заявка успешно оформлена
            .success-modal__subtitle Наш менеджер свяжется с вами в ближайшее время!
            button.success-modal__button.js-success-modal-close В каталог




